<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylsheet" href="blogarr.css">
    <title>Document</title>
</head>
{{> navbar}}
<body>

    <h1>BlogPage</h1>
    {{!-- <p>{{firstName}}</p>
    <p>{{lastName}}</p> --}}
    <ul class="blogarr">
        {{#each blogarr}}
        <li>{{this.author}}</li>
        <li>{{this.category}}</li>
        <li>{{this.blog}}</li>
        <button><a href="/delete/{{this.blogId}}">Delete</a></button>
        <button><a href="/update/{{this.blogId}}">update</a></button>
        {{/each}}
    </ul>


</body>

</html>